!!!
%html
%head
  %title JG's homepage

%body
  #wrapper
    %h2 Scheme
    %ul
      %li 
        %a{:href => 'files/monte-carlo.scm'}
          Monte carlo method
      %li 
        %a{:href => 'files/sine-approx.scm'}
          Sine function approximation
      %li 
        %a{:href => 'files/integral.scm'}
          Numerical integration
      %li 
        %a{:href => 'files/pi-approx.scm'}
          Approximating PI
      %li 
        %a{:href => 'files/abstractions.scm'}
          Abstractions (HOP's)

